<!-- Grid -->
<div class="w3-row-padding" id="plans">
  <div class="w3-center w3-padding-64">
    <h3>Pricing Plans</h3>
    <p>Choose a pricing plan that fits your needs.</p>
  </div>
 <% project.each do |pro| %>
  <div class="w3-third w3-margin-bottom">
    <ul class="w3-ul w3-border w3-center w3-hover-shadow">
      <li class="w3-black w3-xlarge w3-padding-32"><%= pro.title%></li>
      <li class="w3-padding-16"><b><%=pro.subtitle1%>GB</b> Storage</li>
      <li class="w3-padding-16"><b><%=pro.subtitle2%></b> Emails</li>
      <li class="w3-padding-16"><b><%=pro.subtitle3%></b> Domains</li>
      <li class="w3-padding-16"><b><%=pro.subtitle4%></b> Support</li>
      <li class="w3-padding-16">
        <h2 class="w3-wide">$ <%=pro.body%></h2>
        <span class="w3-opacity">per month</span>
      </li>
      <li class="w3-light-grey w3-padding-24">
        <button class="w3-button w3-green w3-padding-large">Sign Up</button>
      </li>
    </ul>
  </div>
 <% end %>
 </div> 